body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

* {
  position: relative;
}

.lamp {
  /* border: solid 3px palevioletred; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shade {
  width: 30vh;
  height: 20vh;
  background: #EEE4CF;
  z-index: 3;
  border-radius: 50% / 10%;
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
  background-image: 
    radial-gradient(closest-corner at 50% 2%, #EEE4CF 70%, transparent 78%),
    linear-gradient(to right, transparent 48%, #ffffff66 58% 75%, transparent 88%),
      linear-gradient(-235deg, #ffffffcc, #E5CB9A 15%, #DBB97C 20%, #EDDBB7 36%, #ffffff33 54%, transparent 95%),
    linear-gradient(235deg, #F8EFDD 20%, transparent);
}

.leg {
  width: 2vh;
  height: 50vh;
  background: #995136;
  top: -2vh;
  z-index: 2;
  background-image: 
    linear-gradient(#00000044, transparent 20% 99.8%, #00000033 100%),
    linear-gradient(to right, transparent 15%, #00000055 36% 44%, #00000011 60%, #ffffff4f 78% 95%, #9B5539 95%);
}

.foot {
  width: 22vh;
  height: 5vh;
  background: #995136;
  top: -4vh;
  border-radius: 50%;
  box-shadow: 0 0.4vh #773321;

  background-image: 
    linear-gradient(to right, transparent 11vh, transparent 12vh, transparent 13vh),
    linear-gradient(40deg, transparent 5% 24%, #0000001f 28% 36%, #00000011 37% 44%, transparent 50%, #ffffff1c 92%, transparent);
}


