:root {
  --T: transparent;
  --brown: #9d5b4b;
  --darkbrown: #5D1E20;
  --green: #82ba33;
  --sg: #438a5e;
  --darkgrey: #333333;
  --white: #fff;
  --red: #ED4135;
  --yellow: #F5AD00;
  --orange: #EE5C25;
  --blue: #00A1A9;
  --rb: #0177BE;
  --violet: #6438B2;
  --shadow: rgba(0, 0, 0, 0.3);
  --shine: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
}
